<?xml version= "1.0" encoding= "UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <global-method-security secured-annotations="enabled"/>
    <http pattern="/resources/**" security="none"/>

    <http auto-config="true" use-expressions="true">
        <anonymous username="guest" granted-authority="ROLE_ANONYMOUS"/>

        <form-login login-page="/login.html"
                    authentication-failure-url="/login.html?error=true"/>
        <access-denied-handler error-page="/403"/>

        <logout logout-url="/logout" logout-success-url="/"/>

        <!--Save logged user in cookie with name key='name' -->
        <remember-me key="myKey" token-validity-seconds="300"/>

        <csrf disabled="true"/>

    </http>

    <jdbc-user-service id="jdbcUserService" data-source-ref="dataSource"
                       users-by-username-query="SELECT USERNAME, PASSWORD, 1 AS ENABLED FROM USERS WHERE USERNAME=?"
                       authorities-by-username-query="SELECT U.USERNAME, A.ROLE
FROM AUTHORITIES A, USERS U WHERE U.AUTH_ID = A.AUTH_ID AND U.USERNAME = ?"/>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="jdbcUserService"/>
    </authentication-manager>


</beans:beans>