<?xml version="1.0" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/mydb</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.jdbc.use_get_generated_keys">true</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <property name="hibernate.dbcp.validationQuery">select 1</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:</property>

        <mapping class="com.epam.testapp.model.News"/>
        <mapping resource="News.hbm.xml"/>

    </session-factory>
</hibernate-configuration>